.buttonLink {
    color: #C2A9FF;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.buttonLink:hover {
    color: #b398ff;
}