.buttonPrimary {
    background-color: #C2A9FF;
    color: var(--color-content-secondary);
    border: none;
    padding: 16px 24px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttonPrimary:hover {
    background-color: #b398ff;
} 