.cardsStyleBlock {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    flex-wrap: wrap;
}

.cardStyle {
    border: 1px solid var(--color-border);
    border-radius: 12px;
    padding: 8px 12px 8px 12px;
    flex: 1;
    transition: all 0.2s ease;
    cursor: pointer;
    height: fit-content;
    text-align: center;
}

.cardStyle.selected {
    border-color: #CBCFD7;
    background-color: var(--color-background-primary);
}

.cardStyle:hover {
    background-color: var(--color-hover);
}